body {
      width: 100%;
      max-width: 1500px;
      min-width: 1200px;
      margin: 0 auto;
      min-height: 100vh;
      background: linear-gradient(109.56deg, rgba(220, 240, 255, 0.55) 3.01%, rgba(248, 249, 255, 0.55) 43.49%, rgba(228, 235, 255, 0.55) 83.96%, rgba(194, 197, 255, 0.55) 124.44%);
}

*::-webkit-scrollbar {
      width: 8px;
      height: 8px;
}

*::-webkit-scrollbar-thumb {
      background: #CBD0D8;
      border-radius: 8px;
}

*::-webkit-scrollbar-track {
      background: transparent;
}

.wrapper {
      display: flex;
      flex-direction: row;
      width: 100%;
      height: calc(100vh - 80px);
}

.wrapper > .container {
      display: flex;
      flex-direction: row;
      width: 100%;
      height: 100%;
      background: linear-gradient(109.56deg, #DCF0FF 3.01%, #F8F9FF 43.49%, #E4EBFF 83.96%, #C2C5FF 124.44%);
      box-shadow: 0px 0px 8px 0px #0000001A;
      border: 0.75px solid #949494B2;
      border-radius: 8px;
      box-sizing: border-box;
}

.box-scroller {
      flex: 1;
      height: calc(100% - 20px) !important;
      margin: 10px 8px 10px 10px;
}

.box {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      overflow-x: hidden;
      overflow-y: auto;
      padding: 0px 5px 0px 0px !important;
}

/* 块 */
section {
      margin-top: 25px;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      background-color: var(--text-color);
}

section:first-child {
      margin-top: 20px;
}

section .container {
      padding: 30px 45px;
}


/* 顶部导航栏 */
header {
      position: relative;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      padding: 15px 10px 6px 30px;
      box-sizing: border-box;
}

header .header {
      width: 160px;
}

.tabs {
      position: absolute;
      left: 31%;
      bottom: -1px;
      display: flex;
      flex-direction: row;
      align-items: center;
      height: 48px;
}

.tabs li {
      position: relative;
      top: 0;
      z-index: 1;
      width: 230px;
      height: 100%;
      cursor: pointer;
}

.tabs img {
      position: absolute;
      height: 100%;
}

.download-button {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      width: 128px;
      height: 30px;
      border: 1.5px solid var(--color-primary);
      border-radius: 5px;
      cursor: pointer;
      display: none;
}

.download-button img {
      width: 16px;
}

.download-button span {
      color: var(--color-primary);
      font-weight: bold;
      font-size: 14px;
      margin-left: 6px;
      letter-spacing: 0.5px;
}

/* 标题栏 */
.headline {
      display: flex;
      flex-direction: row;
      align-items: center;
      border: 3px solid #FFFFFF;
      background: linear-gradient(90.2deg, #DCF0FF 58.33%, #FFFFFF 99.98%);
      padding: 16px 15px;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      box-shadow: 0px 2px 5px 1px #07439220;
}

.headline .title {
      display: flex;
      flex-direction: row;
      align-items: center;
      font-size: 18px;
      font-weight: bold;
      letter-spacing: 2px;
}

.headline .title::before {
      content: '';
      display: block;
      width: 7px;
      height: 7px;
      border: 3.5px solid #98A9FF;
      border-radius: 50%;
      margin-right: 13px;
}

.headline .description {
      color: var(--text-color-inverse-grey);
      font-size: 15px;
}

/* 基本信息 */
.basic-info .container ul {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 20px;
}

.basic-info .container ul li {
      width: calc(50% - 10px);
      box-sizing: border-box;
}

.basic-info .container ul li span:first-child {
      color: var(--text-color-placeholder-grey);
      font-weight: bold;
      font-size: 15px;
      letter-spacing: 1px;
}

.basic-info .container ul li span:last-child {
      color: var(--text-color-placeholder-grey);
}

/* 导航栏 */
nav {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      width: 200px;
      height: calc(100% - 20px);
      background-color: var(--text-color);
      padding: 20px;
      border-radius: 10px;
      overflow: auto;
      box-sizing: border-box;
      margin: 10px;
      margin-right: 0px;
}

nav>div::after {
      content: '';
      width: 1px;
      height: 20px;
}

nav>div>ul {
      display: flex;
      flex-direction: column;
      gap: 30px;
      border-left: 1px solid var(--text-color-disable);
      padding-left: 12px;
}

nav>div>ul .active>span {
      color: var(--color-primary);
}

nav>div>ul li {
      position: relative;
      font-size: 16px;
      line-height: 20px;
      font-weight: bold;
      cursor: pointer;
}

nav>div>ul>li::before {
      display: none;
      content: '';
      position: absolute;
      left: -16px;
      top: 0px;
      width: 7px;
      height: 18px;
      background-color: #8994FF;
      border-radius: 2px;
      transform: translateY(0px);
}

nav>div>ul>li.active::before {
      display: block;
}

nav>div>ul li span:hover {
      color: var(--color-primary);
}

nav>div>ul li span:nth-child(2) {
      color: var(--color-error);
      margin-left: -6px;
      letter-spacing: 1px;
      font-weight: initial;
}

nav ul li ul {
      display: flex;
      flex-direction: column;
      padding-left: 10px;
      margin-top: 15px;
      gap: 15px;
}

nav ul li ul li {
      font-weight: initial !important;
}

nav ul li ul li span {
      font-size: 13px;
      color: var(--text-color-placeholder);
}

nav ul li ul li span:last-child {
      color: var(--color-error);
      margin-left: -6px;
      letter-spacing: 1px;
}